html, body, #app{
    height: 100%;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
=======
}
.el-card{
    margin-top: 20px;
}
.el-table{
    margin-top: 16px;
}
.el-pagination{
    margin-top: 16px;
}
/* 更改添加用户界面输入框校验结果反馈图标的颜色和大小 */
.el-icon-circle-check{
    color: greenyellow;
    font-size: 18px;
}
.el-icon-circle-close{
    font-size: 18px;
>>>>>>> a95a82a66dd7af3d0c0579e4b191463633e1d7e7
}